<p style="color:#999"><%= trip.mileage % 1 == 0 ? trip.mileage.to_i : trip.mileage  %> miles of hiking &bull;
<%= trip.elevation %>' elevation gain
<%= "&bull; #{pluralize(trip.nights, "night") if trip.nights > 0}".html_safe %>
</p>
