<% page_title "Search results for &ldquo;#{h(params[:q].titleize)}&rdquo;".html_safe %>

<h1><%= @hikes.length %> results for &ldquo;<%= h(params[:q].titleize) %>&rdquo;</h1>
<%= render @hikes, :include_name => true %>