.awesome, .awesome:visited {
	background: #111;
	display: inline-block;
	padding: 6px 10px 6px 10px;
	color: white;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
	cursor: pointer;
	behavior: url(../javascripts/PIE.htc);
	z-index:500;
	font-size:12px ! important;
	line-height:12px ! important;
	text-transform:uppercase;
	font-weight:bold ! important;
}

.awesome:hover {
	background-color: #e4e4e4;
	color: #333;
}
.awesome:active {
	background-color: #ddd;
	color:#222;
}
.small.awesome, .small.awesome:visited {
}
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited {
	font-size: 13px;
	line-height: 1;
	behavior: url(../javascripts/PIE.htc);
}
.large.awesome, .large.awesome:visited {
	font-size: 14px;
	padding: 8px 14px 9px;
}

.green.awesome, .green.awesome:visited {
	background-color: #91bd09;
}
.green.awesome:hover {
	background-color: #749a02;
}
.blue.awesome, .blue.awesome:visited {
	background-color: #2daebf;
}
.blue.awesome:hover {
	background-color: #007d9a;
}
.red.awesome, .red.awesome:visited {
	background-color: #C44040;
}
.red.awesome:hover {
	background-color: #872300;
}
.magenta.awesome, .magenta.awesome:visited {
	background-color: #a9014b;
}
.magenta.awesome:hover {
	background-color: #630030;
}
.orange.awesome, .orange.awesome:visited {
	background-color: #ff5c00;
}
.orange.awesome:hover {
	background-color: #d45500;
}
.yellow.awesome, .yellow.awesome:visited {
	background-color: #ffb515;
}
.yellow.awesome:hover {
	background-color: #fc9200;
}

.super.button {
/*	background-image: url(/images/gradients/36px-blended.png);*/
	padding: 4px 14px 6px;
	border: 1px solid #bbb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	behavior: url(../javascripts/PIE.htc);
}
.small.super.button {
	font-size: 11px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	behavior: url(../javascripts/PIE.htc);
	border-radius:5px;
}
.large.super.button {
	background-position: 0 0;
	padding: 8px 17px 8px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	behavior: url(../javascripts/PIE.htc);
}

.secondary.button {
	background-color: #fff;
}
.secondary.button:hover {
	background-color: #eee;
}
