<% page_title "Edit Your Information" %>
<h2>Edit Your Information</h2>
<%= render "form" %>
<script type="text/javascript" charset="utf-8">$(document).ready(function(){
	var geocoder = new google.maps.Geocoder();
	$("#user_locale").keyup(function(){
		geocoder.geocode({address: $("#user_locale").val()}, function(result){
			map.fitBounds(result[0].geometry.viewport); 
		});
	});
	geocoder.geocode({address: $("#user_locale").val()}, function(result){
		map.fitBounds(result[0].geometry.viewport); 
	});
})</script>