<% title "Edit your hike" %>
<h2>Edit this hike</h2>
<%= render :partial => 'form' %><br /><br />
<p>Make a mistake? You can also <%= link_to(image_tag("cancel.png") + " delete this entry.", user_hike_path(@user, @hike), :method => :delete, :confirm => "Are you CERTAIN you wish to delete this hike?") %></p>
<script type="text/javascript">
$(document).ready(function(){
	beef.placeMarker({latLng: new google.maps.LatLng(<%= @hike.lat %>, <%= @hike.lng %>)})
});
</script>