<% page_title "About" %>
<h1>About Went Hiking</h1>
<div class="column">
	<div class="box">
	<h2>What is this all about anyway?</h2>
	<p><a href="http://wenthiking.com">Went Hiking</a> is a kickass way to keep track of your trips into the wilderness, record your thoughts, and save your photos. We aim to be the easiest way to share your trips and discover new ones in your area. The end goal is to have a crowd-sourced database of hikes and experieces to elevate the level of hiking resource websites.</p>
	
	<p>You're already doing your part simply by uploading trips, writing reports, and uploading photos, so thanks! Every time you add to the collective knowledgebase of trails online, you're helping others discover nature and adventure.</p>
	</div>
	<div class="box">
	<h2>Have an idea to improve the site?</h2>
	<p><a href="mailto:kyle@wenthiking.com">Shoot me an email at kyle@wenthiking.com</a> with your ideas or just to chat. I'd love to hear from you.</p>
	</div>
</div>
<div class="column last">
	<div class="box">
	<h2>The Origin Story</h2>

	<p><a href="http://wenthiking.com">Went Hiking</a> was created by me, <a href="http://kaiuhl.com/">Kyle Meyer</a>, for my own personal use. I have a full-time job as a web designer <span class="amp">&amp;</span> developer, but take every opportunity to get outside and backpack. Last year, I started keeping track of my trips in a spreadsheet to see what my cumulative statistics were, mostly for fun.</p>

	<p>Early in 2011, I decided I could do better than a spreadsheet. I whipped up a really rough version of this site, and posted it to my local hiking forum, <a href="http://portlandhikers.org">Portland Hikers</a> to see if anyone else had interest in the tool. I've since made revisions based on their feedback, and while it's still not nearly complete, it is now a reliable tool for the simple logging of trips and sharing them with others.</p>
	</div>
</div>



