<% page_title "Privacy Policy" %>
<% content_for :header do %>
<h1><a href="#">Our promises about your privacy are simple.</a></h1>
<% end %>


<p class="lede">We won't give your information to anyone else, ever. Your data is yours to keep, and when you delete your account, we won't hang on to your data. Basically, we'll be nice because we're not assholes or spammers.</p>