.button, .button:visited, .previous_page, .next_page, .previous_page:visited, .next_page:visited {
	background: #111;
	display: inline-block;
	padding: 10px 20px ! important;
	border: 1px solid #333;
	color: white;
	text-decoration: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
	position: relative;
	cursor: pointer;
	z-index:5;
	text-transform:uppercase;
	font-weight:bold ! important;
	@include linear-gradient(#333, #111);
	img {
		vertical-align:text-bottom;
		margin-left:-10px;
	}
}
.button:hover, .previous_page:hover, .next_page:hover {
	color: $link_color;
	border-color:$link_color;
}
.button:active, .previous_page:active, .next_page.active {
	background-color: #000;
	color:#555;
	border-color:#333;
	@include linear-gradient(#000, #111);
}