#navigation {
	border-bottom:1px solid black;
	background:#333 image-url('header_fade.png') repeat-x left bottom;
	margin-bottom:10px;
	padding:5px 0;
	line-height:1;
	font-size:$unit;
	z-index:5;
	position:relative;
	@include condensed;
}
#navigation .nav {
	color:#aaa;
	line-height:1;
	height:20px;
	padding:5px 0;
	position:absolute;
	right:0;
	top:0;
}
#navigation a {
	color:#aaa;
	background:transparent;

}
#navigation .nav img {
	vertical-align:text-bottom;
}
.nav-unit, .nav a {
	padding-left:$unit*2;
	opacity:0.8;
	color:#aaa;
	-webkit-transition: opacity 0.2s linear;
	-webkit-transition: color 0.2s linear;
	line-height:1;
	text-transform:uppercase;
}
.nav a:hover { 	opacity:1; color:#ccc }

a#settings_link { background: image-url('cog_gray.png') no-repeat 10px center }
a#settings_link:hover { background: image-url('cog.png') no-repeat 10px center }

a#profile_link { background: image-url('star_gray.png') no-repeat 10px center }
a#profile_link:hover { background: image-url('star.png') no-repeat 10px center; color:#daad2c }

a#add_link { background: image-url('add_gray.png') no-repeat 10px center}
a#add_link:hover { background: image-url('add.png') no-repeat 10px center; color:#b7ddae}

a#forecasts_link { background: image-url('rainbow_gray.png') no-repeat 10px center}
a#forecasts_link:hover { background: image-url('icons/rainbow.png') no-repeat 10px center; color:#FBC87C}

a#map_link { background: image-url('map_gray.png') no-repeat 10px center}
a#map_link:hover { background: image-url('icons/map.png') no-repeat 10px center; color:#DDDCA7}

a#logout_link { padding-left:20px }
a#logout_link:hover { color:#BC3C4D }

#search { display:inline; padding-left:40px; margin:0}
#search #q { background-color:#222; border:1px solid #444; padding:5px; color:white; border-radius:5px; margin:0 }
#search_link { vertical-align:middle; }