a#notifications_badge {
  padding:5px 8px;
  margin-left:10px;
  background-color:#555;
  display: inline-block;
  @include border-radius(5px);
  @include box-shadow;

  &.new {
    background-color: $error_color;
    color:white;
  }

  &:hover, &:active {
    background-color: $error_color
  }
}
div.notifications {margin-top:$unit}
div.notification {
  padding:$unit $unit $unit $unit*2;
  border-bottom:1px solid #ccc;
  cursor:pointer;

  &.hearts {
    background: transparent image-url('heart.png') no-repeat 5px center;
  }
  &.comments {
    background: transparent image-url('comment.png') no-repeat 5px center;
  }
  &:hover {
    background-color:#fffec6;
  }
  &[data-read-at] {
    color: #999;
    a { color: #999 }
  }

  .read-notification-link {
    display:none
  }
}
.container div.notification:first-child {
  border-top:1px solid #ccc;
}
