<h1><%= @user.name %>,</h1>

<p>Someone (hopefully you) requested your password be reset:</p>

<blockquote><a href="http://wenthiking.com/login">http://wenthiking.com/login</a></blockquote>

<p>We've given you a random password, which is:</p>

<blockquote><%= @user.password %></blockquote>

<p>After logging in, you can definitely change it—just click "settings".</p>

