<div style="
	font-family:arial,helvetica,sans-serif;
	font-size:14px;
	color:#222;
	line-height:1.5;
	
	margin:20px 10%;

">
	<%= yield %>
	<div style="
		font-size:9px;
		color:#999;
		margin-top:20px;
		padding-top:20px;
		border-top:1px solid #ccc
	">

	</div>
</div>